<div class="span2">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Filters</li>
      <li class="active"><a href="#">Breakfast</a></li>
      <li><a href="#">Lunch</a></li>
      <li><a href="#">Dinner</a></li>
      <li><a href="#">Sides</a></li>
      <li><a href="#">Dessert</a></li>
      <li><a href="#">Snacks</a></li>
      <li class="active"><a href="#">Drinks</a></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
