<div class="span2">
	<%= link_to "Add Link", new_link_path %>
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Filters</li>
	<% @all_tags.each do |tag| %>
      <% if @tags.include?(tag) 
		remaining_tags = @tag_names - [tag.name]
		path = links_path+"/"+remaining_tags.join("/")%>
		<li class="active"><%= link_to tag.name, path %></li>
	  <% else 
		path = links_path+"/"+(@tag_names+[tag.name]).join("/")%>
		<li><%= link_to tag.name, path %></li>	
	  <% end %>
	<% end %>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
